.card {
  background-color: var(--background-cards);
  height: 7.5rem;
  width: 13.7rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px var(--default-background);
}

.imageProduct {
  height: 4rem;
  width: 6rem;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
}

ul {
  list-style-type: none;
}

.infos {
  display: flex;
  margin-top: 0.5rem;
}

.btnAndPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnAndPrice p {
  font-size: 0.9rem;
}

.addProduct {
  border-radius: 0.3rem;
  height: 1.5rem;
  width: 5rem;
  background-color: var(--secondy-font-color);
  border: none;
  margin-bottom: 0.25rem;
}

.pedido {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.infoPedido {
  font-size: 0.87rem;
  margin-left: 1rem;
}

.cifrao {
  margin-right: 1rem;
}

.divPedido {
  display: inline-flex;
}
